<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar tabelas</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script defer src="/scripts/completeName.js"></script>
</head>
<body>
    <header class="header">
        <div class="header-left">
            <img src="./assets/logo-atar.svg" alt="Logo Atar Digital">
            <h1 class="title__text">Gerenciador de tabelas</h1>
        </div>
        <div class="header-right">
            <span>Olá, </span>
            <span class="userSpan"></span>
        </div>
    </header>
</body>
</html>


