#header-left-activities{
    width:450px;
}

.table-activities{
    padding: 30px;
}

.table-activities, th, td{
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(160 160 160);

}

th{
    color: white;
    background-color: var(--c5);
}

tr td:last-of-type {
    border: none;
}


tr{
    border-bottom: 1px solid #D5D5D5;
}

.table-activity{
    width: 100%;
}

.form-edit-table{
    position : fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index: 99;
    background: var(--c3);
    border-radius: 5px;
    padding: 20px;
}

.form-edit-table.active{
    display:block;
}