@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  //colors
  --c1:  #fdffd9;
  --c2:  #fff0b8;
  --c3:  #ffd6a3;
  --c4:  #faad8e;
  --c5:  #142f30;
}


.mb30{
    margin-bottom: 30px;
}

.mt30{
    margin-top: 30px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;

}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

span{
    display: inline-block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}


/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}


a{
    text-decoration: none;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.title__text{
    font-family: "Raleway";
    font-size: clamp(18px, 1.3vw, 35px);
}

.description__text{
  font-family: "Merriweather";
}

.button-home ,.button-logout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.button-home:hover, .button-logout:hover {
    transition: 500ms;
    color: var(--c4);
    cursor: pointer;
}


.header-right-tables-pages{
    gap: 50px;
    justify-content: end;
}

.edit-button, .delete-button, .addRecordBtn,.modal .save-btn{
  margin-left: 10px;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--c5);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition: 500ms;
}

.edit-button:hover, .delete-button:hover, .addRecordBtn:hover,.modal .save-btn:hover{
    background-color: var(--c4)
    }

.edit-button:active, .delete-button:active, .addRecordBtn:active,.modal .save-btn:active{
  background-color: var(--c4);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}