.header{
    display: flex;
    flex-wrap : wrap;
    background: var(--c2);
    padding: 30px;
    justify-content: space-between;
}

#header-left-table{
    gap:30px;
    flex-wrap: wrap;
}



.header-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left img{
    width: 100px;
}

.table-responsive {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 30px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(160, 160, 160);
}

th{
    color: white;
    background-color: var(--c5);
}

tr td:last-of-type {
    border: none;
}


tr{
    border-bottom: 1px solid #D5D5D5;
}


.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tables{
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 60px 30px;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:300px;
    height: 300px;
    background: var(--c5);
    color: #FFFFFF;
    border-radius: 8px;
}

.table:hover{
    cursor: pointer;
    background-color: var(--c3);
    color: black;
    transition: 500ms linear;
}

.form-edit-table {
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 99;
    background: var(--c3);
    border-radius: 5px;
    padding: 20px;
    display: none;
}

.form-edit-table.active {
    display: block;
}

.table-responsive{
    padding: 30px;
}
